.navbar {
  background-color: black;
  width: 100%;
  color: white;
  padding: 20px;
  font-weight: 600;
  font-size: 20px;
}
.navlist {
  display: flex;
  list-style: none;
}
.navele {
  padding-right: 45px;
}