/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|ZCOOL+QingKe+HuangYou'); */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
 }
 .title-bar{
    width: 1000px;
    display: flex;
 }
 .title-name-css{
    text-decoration: none;
    font-size: 50px;
    font-weight: 900;
    color: #b9813e;
 }
 .title-name{
   width: 67px;
   margin-right: auto;
   text-align: center;
 }
 .ul-css{
    color: #666;
 }

 
 .link-css{
    font-weight: 700;
    color: #666;
 }
 .fn-font {
 }
 
 ul {
    list-style: none;
 }
 
 a {
    text-decoration: none;
    outline: none;
 }
 
 .container {
     background-color: #f6f5ef;/* #f0f0f0 */
     margin-left: auto;
     margin-right: auto;
     padding: 9 0 10;
 }
 
 header {
    width:100%;
    height:80px;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 
 header > h2 {
    margin-left:20px;
 }
 
 header > nav {
    width:600px;
    height:100%;
 }
 
 header ul {
    width:100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
 }
 
 header ul > li {
    font-size:20px;
    height: 100%;
    display: flex;
    align-items: center;
    padding-right: 20px;
    font-weight: 700;
 }