/* @import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR|ZCOOL+QingKe+HuangYou'); */

* {
  margin: 0;
  padding: 0;
}
.title-bar {
  width: 1000px;
  display: flex;
}
.title-name-css { /*logo */
  text-decoration: none;
  font-size: 50px;
  font-weight: 900;
  color: #b9813e;
}
.title-name {
  width: 67px;
  margin-right: auto;
  text-align: center;
}
.ul-css {
  color: #666;
}

.link-css {
  font-weight: 700;
  color: #666;
}
.fn-font {
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  outline: none;
}

.container {
  width: 100%;
  background-color: #f6f5ef;
}

header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

header > h2 {
  margin-left: 20px;
}

header > nav {
  width: 600px;
  height: 100%;
}

header ul {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
}

header ul > li {
  font-size: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  font-weight: 700;
}
.li-css{
}
.detailinfor{
   width: 100%;
   background-color: #2C2A29;
   position: absolute;
   left: 0;
   top: 80px;
   height: 0;
   visibility: hidden;
   transition-property: height;
   transition-duration: 400ms;
   bottom: -50px;
}
.detaillist{
   margin: 0 auto;
   color: white;
   width: 1000px;
}

.ul-css > .li-css:hover .detailinfor{
   height: 400px;
   visibility: visible;
}