.top-nav {
    background-color: red;
    width: 100%;
    height: 39px;
    float: left;
  }
  .top-nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .top-nav-ele {
    padding-right: 45px;
    font-size: 10px;
    margin-top: 15px;
  }

.topLink {
    text-decoration: none;
    color:Black;
}
.rentking {
    padding-right: 50px;
    padding-left:20px;
    font-size: 30px;
}
.rentking > a{
    text-decoration: none;
    color: white;
}
body {
    margin: 0;
    padding: 0;
}